@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply scroll-smooth;
    }
    body {
        @apply bg-[#1A1A1A];
    }

    @font-face {
        font-family: "Queen";
        src: url("./assets/fonts/QueenInlineGrunge.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "Papyrus";
        src: url("./assets/fonts/PAPYRUS.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: "FontleroyBrown";
        src: url("./assets/fonts/FONTLERO.otf") format("opentype");
        font-weight: 400;
        font-style: normal;
    }
    .nav-item {
        @apply after:content-empty relative after:absolute after:w-[1px] lg:after:w-[2px] after:h-full after:right-0 after:block after:bg-black after:top-0 last:after:hidden;
    }

    .devine-pods-bg {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.851) 33%,
                rgba(13, 13, 13, 0.8) 64.5%,
                rgba(19, 19, 19, 0.8) 76.8%,
                rgba(26, 26, 26, 0.8) 100%
            ),
            url(./assets/images/img3.png) no-repeat center top;
        background-size: 100% auto;
    }
    .token-eco-bg {
        background: linear-gradient(
                180deg,
                rgba(26, 26, 26, 0.898) 0%,
                rgba(20, 20, 20, 0.859) 27.5%,
                rgba(4, 4, 4, 0.733) 60.2%,
                rgba(0, 0, 0, 0.698) 67%
            ),
            url(./assets/images/token-eco-bg.png) no-repeat center top;
        background-size: 100% auto;
    }
    .business-opp {
        background: linear-gradient(
                180deg,
                rgba(26, 26, 26, 0.8) 0%,
                rgba(19, 19, 19, 0.765) 29.4%,
                rgba(1, 1, 1, 0.671) 64.4%,
                rgba(0, 0, 0, 0.659) 67%
            ),
            url(./assets/images/img4.png) no-repeat center top;
        background-size: 100% auto;
    }

    .heroBg {
        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.749) 0%,
                rgba(0, 0, 0, 0.698) 13.9%,
                rgba(0, 0, 0, 0.6) 25%,
                rgba(0, 0, 0, 0.6) 36.2%,
                rgba(0, 0, 0, 0.851) 50%,
                #000000 75%,
                #000000 100%
            ),
            url(./assets/images/hero-bg.png) no-repeat center top;
        @apply bg-cover xl:bg-contain;
    }
    .cultureBg {
        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.85) 10%,
                rgb(0, 0, 0, 0.9) 100%
            ),
            url(./assets/images/img5.png) no-repeat center top;
        background-size: cover;
    }
    .partnersBg {
        background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.698) 33%,
                #000000 100%
            ),
            url(./assets/images/img6.png) no-repeat center top;
        background-size: cover;
    }

    .top-design {
        @apply before:content-empty before:bg-sideBorder before:bg-no-repeat before:bg-cover
        before:absolute before:top-0 before:-left-2 before:h-full before:bottom-0 before:w-[0.5rem] before:z-[10001] 

        after:content-empty after:bg-sideBorder after:bg-no-repeat after:bg-cover
        after:absolute after:top-0 after:-right-2 after:h-full after:bottom-0 after:w-[0.5rem] after:z-[10001];
    }

    .circ-animation {
        animation: circular-page-open 1s ease-out forwards 0.5s;
        -moz-animation: circular-page-open 1s ease-out forwards 0.5s;
        transform-origin: 50% 0;
        transform: perspective(10px) scaleY(0);
    }

    @keyframes circular-page-open {
        0% {
            transform: perspective(10px) scaleY(0);
        }
        100% {
            transform: perspective(1000px) scaleY(1);
        }
    }

    .hover-scale {
        @apply transition-all duration-300 ease-in-out transform hover:scale-110;
    }

    .frame-item3 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        width: 40%;
        height: 15rem;
        transform: translate(10%, 40%);

        transition: all 0.3s ease-in-out;
    }
    .frame-item2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        width: 60%;
        height: 25rem;

        transform: translateX(20%) translateY(10%);
        transition: all 0.3s ease-in-out;
    }
    .frame-item1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 30;
        width: 80%;
        height: 35rem;
        transform: translateX(25%);
        transition: all 0.3s ease-in-out;
    }

    .frame-item1.active1 {
        transform: translateX(25rem) scale(1.2);
        opacity: 0;
    }

    .frame-item2.active1 {
        transform: translateX(20rem) translateY(2rem) scale(1.2);
        opacity: 0;
    }

    .frame-item3.active1 {
        transform: translate(16rem, 8rem) scale(1.2);
        opacity: 0;
    }
}
